<div class="rounded container" style="background-color: #CCDBDC ;">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center justify-content-center"
    style="background-color: #CCDBDC ;">

    <img class="rounded box-shadow-dreamy mb-2 mx-auto" src="https://avatars.githubusercontent.com/u/90533949?v=4"
      style="border: 5px; max-width: 100%; height: auto; ">

    <div class="col-md-7 p-lg-5 mx-auto mb-3">

      <h1 class="display-4 font-weight-normal">A little about me:</h1>
      <p class="lead font-weight-normal ">&#x1F44A; I like to tinker and work with my hands.
        <br> 😄 Fullstack Web Developer (MERN)
        <br> 🛠 BS in Mechanical Engineering
        <br> &#8749; Minor in Applied Mathematics
        <br> &#9749; Coffee Fanatic
      </p>
      <a class="btn btn-outline-secondary" href="/works">See what I'm working on here!</a>

    </div>
  </div>
</div>